<div
  class="bg-grey-900 rounded-lg py-7 px-7 shadow-md flex items-center space-x-6 overflow-hidden h-[170px]"
>
  <img
    src="https://static.vecteezy.com/system/resources/thumbnails/005/129/844/small_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg"
    alt=""
    class="h-[85%] rounded-full"
  />
  <div class="">
    <div class="text-xl font-bold text-grey-300">Gabriela Richardson</div>
    <p class="mt-1 text-grey-400 ms-1">
      <span>{{ "gokul@email.com" }}</span>
    </p>
  </div>
</div>
