<div>
  <div class="grid gap-5 grid-cols-3">
    <app-profile-card></app-profile-card>
    <div
      class="bg-grey-900 rounded-lg py-7 px-7 shadow-md flex flex-col items-center justify-center space-y-3 overflow-hidden h-[170px] text-center text-grey-400"
    >
      <h1 class="font-bold text-xl text-grey-300">Student Dashboard</h1>
      <p class="text-sm">Login: Student dashboard to view your individual performance.</p>
    </div>
    <div
      class="bg-grey-900 rounded-lg py-7 px-7 shadow-md flex-col flex items-center justify-center space-y-3 overflow-hidden h-[170px] text-center text-grey-400"
    >
      <h1 class="font-bold text-xl text-grey-300">For Any Support,</h1>
      <p class="text-sm">(Academic/Non-Academic/Personal)</p>
      <p class="text-xs underline cursor-pointer">
        https://supportdesk.bitsathy.ac.in
      </p>
    </div>
  </div>
</div>
