<section class="bg-grey-900 flex h-screen">
  <!-- Left side (Image) -->
  <div class="basis-[50%] h-full">
    <img
      src="https://png.pngtree.com/thumb_back/fh260/background/20240726/pngtree-woman-wearing-graduation-cap-with-blurred-city-background-at-sunset-image_15996971.jpg"
      alt=""
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Right side (Form) -->
  <div
    class="flex flex-col items-center justify-center mx-auto h-full w-full basis-[55%] px-5 py-5"
  >
    <div class="p-6 space-y-5 md:space-y-7 sm:p-8 w-full">
      <h1
        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center"
      >
        Login
      </h1>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="space-y-4 md:space-y-8 px-10"
      >
        <!-- Email -->
        <div class="w-full">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Your Email</label
          >
          <input
            type="email"
            id="email"
            formControlName="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:outline-none focus:ring focus:ring-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="user@email.com"
          />
        </div>

        <!-- Password -->
        <div class="w-full">
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Password</label
          >
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:outline-none focus:ring focus:ring-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>

        <!-- Error Message -->
        <div class="text-red-500 text-center" *ngIf="error">
          {{ error }}
        </div>

        <!-- Remember Me and Forgot Password -->
        <div class="flex items-center justify-between">
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input
                id="remember"
                aria-describedby="remember"
                type="checkbox"
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
              />
            </div>
            <div class="ml-3 text-sm">
              <label
                for="remember"
                class="text-gray-500 dark:text-gray-300"
                >Remember me</label
              >
            </div>
          </div>
          <a
            href="#"
            class="text-sm font-medium text-grey-200 underline dark:text-primary-500"
            >Forgot password?</a
          >
        </div>

        <!-- Submit Button -->
        <button
          [disabled]="isLoading"
          type="submit"
          class="w-full text-white bg-customBlue-700 focus:ring-1 focus:outline-none focus:ring-customBlue-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >
          {{ isLoading ? "Logging in..." : "Login" }}
        </button>

        <!-- Sign Up Link -->
        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
          Don’t have an account?
          <a
            routerLink="/auth/signup"
            class="font-bold underline text-primary-600 hover:underline dark:text-primary-500"
            >Sign up</a
          >
        </p>
      </form>
    </div>
  </div>
</section>
