@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", system-ui;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: all 0.5s;
}

.dark-mode {
  --grey-0: #fff;
  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;
}

.light-mode {
  --grey-0: #18212f;
  --grey-50: #111827;
  --grey-100: #1f2937;
  --grey-200: #374151;
  --grey-300: #4b5563;
  --grey-400: #6b7280;
  --grey-500: #9ca3af;
  --grey-600: #d1d5db;
  --grey-700: #e5e7eb;
  --grey-800: #f3f4f6;
  --grey-900: #f9fafb;
}
