<div class="px-6 py-5 space-y-5">
  <app-table [data]="userOffers" [rowTemplate]="rowTemplate">
    <ng-container table-header>
      <th class="p-4 text-left">Roll No</th>
      <th class="p-4 text-left">Name</th>

      <th class="p-4 text-left">company-Name</th>
      <th class="p-4 text-left">type</th>
      <th class="p-4 text-left">joining-Date</th>
      <th class="p-4 text-left">Status</th>
      <th class="p-4 text-left"></th>
    </ng-container>
    <ng-template #rowTemplate let-item>
      <tr class="border-b border-grey-700 text-sm text-grey-400">
        <td class="py-6 px-4 font-semibold">{{ item.student.RegNo }}</td>

        <td class="p-4">
          <span class="font-medium">{{ item.student.fullName }}</span>
        </td>

        <td class="p-4">
          <span class="font-medium">{{ item.companyName }}</span>
        </td>

        <td class="p-4">
          <span class="font-medium">{{ item.companyType }}</span>
        </td>

        <td class="p-4">
          <span class="font-medium">{{ formatDate(item.joiningDate) }}</span>
        </td>

        <td class="p-4">
          <span
          class="px-3 py-1 rounded-md"
            [ngClass]="statusToTagName[item.status]"
            >{{ item.status }}</span
          >
        </td>

        <td class="relative">
         
          
        </td>
      </tr>
    </ng-template>
  </app-table>

  <button
    (click)="showForm = !showForm"
    class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600"
  >
    {{ showForm ? "Close" : "Add" }}
  </button>

  <div *ngIf="showForm">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="mx-auto px-7 py-8 bg-grey-900 rounded-lg shadow-md space-y-4 mt-5 text-grey-400"
    >
      <!-- Company Name -->
      <div class="flex items-center gap-5">
        <div class="flex flex-col w-full">
          <label for="companyName" class="font-semibold">Company Name</label>
          <input
            id="companyName"
            formControlName="companyName"
            type="text"
            class="mt-1 block w-full px-4 py-3 bg-grey-700 text-grey-100 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-500"
          />
        </div>

        <!-- Company Type -->
        <div class="flex flex-col w-full">
          <label for="companyType" class="font-semibold">Company Type</label>
          <select
            id="companyType"
            formControlName="companyType"
            class="mt-1 block w-full px-4 py-3 bg-grey-700 text-grey-100 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-500"
          >
            <option value="core">Core</option>
            <option value="it">IT</option>
            <option value="others">Others</option>
          </select>
        </div>
      </div>

      <!-- Joining Date -->
      <div class="flex items-center gap-5">
        <div class="flex flex-col w-full">
          <label for="joiningDate" class="font-semibold">Joining Date</label>
          <input
            id="joiningDate"
            formControlName="joiningDate"
            type="date"
            class="mt-1 block w-full px-4 py-3 bg-grey-700 text-grey-100 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-500"
          />
        </div>

        <!-- Stipend -->
        <div class="flex flex-col w-full">
          <label for="stipend" class="font-semibold">Stipend</label>
          <input
            id="stipend"
            formControlName="stipend"
            type="text"
            class="mt-1 block w-full px-4 py-3 bg-grey-700 text-grey-100 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-500"
          />
        </div>
      </div>

      <!-- Location -->
      <div class="flex flex-col w-full">
        <label for="location" class="font-semibold">Location</label>
        <input
          id="location"
          formControlName="location"
          type="text"
          class="mt-1 block w-full px-4 py-3 bg-grey-700 text-grey-100 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-500"
        />
      </div>

      <!-- File Inputs -->
      <div class="flex flex-col w-full">
        <label for="internshipOfferLetter" class="font-semibold"
          >Internship Offer Letter</label
        >
        <input
          id="internshipOfferLetter"
          type="file"
          (change)="onFileChange($event, 'internshipOfferLetter')"
          class="mt-1 p-2 rounded-md bg-grey-700"
        />
      </div>

      <div class="flex flex-col w-full">
        <label for="jobOfferLetter" class="font-semibold"
          >Job Offer Letter</label
        >
        <input
          id="jobOfferLetter"
          type="file"
          (change)="onFileChange($event, 'jobOfferLetter')"
          class="mt-1 p-2 rounded-md bg-grey-700"
        />
      </div>

      <div class="flex flex-col w-full">
        <label for="letterOfIntent" class="font-semibold"
          >Letter of Intent</label
        >
        <input
          id="letterOfIntent"
          type="file"
          (change)="onFileChange($event, 'letterOfIntent')"
          class="mt-1 p-2 rounded-md bg-grey-700"
        />
      </div>

      <!-- Submit Button -->
      <div class="flex items-center gap-4 justify-end">
        <button
          type="submit"
          class="bg-red-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600"
        >
          {{ isLoading ? "submitting..." : "submit" }}
        </button>
      </div>
    </form>
  </div>
</div>
